/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: rgb(109, 6, 6);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgb(109, 6, 6);
    color: white;
  } 


  body{
    background-color: black;
    color: white;
    font-family: Space Mono;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }